@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-navegavel {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: darkorange;
    border-bottom: 5px solid white;
    overflow-x: auto;
    position: sticky;
    top: 0;
    z-index: 20;
}

#menu-navegavel a {
    padding: 12px;
    color: white;
    font-weight: bold;
}

#menu-navegavel::-webkit-scrollbar {
    background-color: darkorange;
    height: 10px;
}

#menu-navegavel::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

body {
    background-color: black;
    color: white;
}

#aviso-menu {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    visibility: hidden;
}

@media (max-width:975px) {
    #menu-navegavel {
        white-space: nowrap;
        overflow-y: hidden;
        justify-content: left;
    }

    #aviso-menu {
        visibility: visible;
    }
}

#menu-navegavel a:hover {
    opacity: 0.7;
}

html, body {
    scroll-behavior: smooth;
}
